body {
  background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #1a2b75;
  overflow-x: hidden;
}

.clock{
    height: 320px;
    width: 320px;
    background-color: rgba(192,192,192,0.3);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 50%;
      position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
            box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
    border: 2px solid rgba(255,255,255,0.1);
}
img{
    opacity: 0.6;
}
.hand{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 5px;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
}
.hour{
    height: 60px;
    width: 10px;
    top: 100px;
}
.minute{
    height: 80px;
    width: 5px;
    top: 80px;
}
.seconds{
    height: 90px;
    width: 3px;
    top: 70px;
}

a{
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    position:absolute;
    right:20px ;
    top:20px;
    border:3px solid #ffffff;
    border-radius: 5px;
    text-decoration:none;
}
a>.fa{
  color: #FF0000;
}
@media screen and (min-width: 451px) {
  a{
    font-size: 18px;
     padding:8px 12px 8px 12px;
  }
}

@media screen and (max-width: 450px) {
  a{
    font-size: 12px;
     padding:5px 8px 5px 8px;
  }
}