@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Raleway:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100%;
}

body {
  background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #1a2b75;
  overflow-x: hidden;
}

.card {
  font-family: "Poppins", sans-serif;
  display: flex;
  margin: 0 0 0 2vw;

  padding: 200px 200px 200px 200px;
  border: 1px solid rgba(192, 192, 192, 0.3);
  border-radius: 20px;
  background-color: rgba(192, 192, 192, 0.3);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  -webkit-box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
          box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
}

.desc {
  font-family: "Poppins", sans-serif;
  font-size: 20;
  justify-content: space-between;
  margin: 0 2vw 0 3vw;
  display: flex;
  align-items: flex-start;

  padding: 200px 400px 200px 400px;

  border: 1px solid rgba(192, 192, 192, 0.3);
  border-radius: 20px;
  background-color: rgba(192, 192, 192, 0.3);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  -webkit-box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
          box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
}

.text-area {
  display: flex;
  justify-content: left;
}

.content { 
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.card-image {
  position:relative;
  width:100%;
  z-index:1;
}
.card-image>img {
  position:absolute;
  z-index:2;
  height:100%;
}